/*form pacientes*/
.reg h1{
    color: var(--white);
    font-weight: 300;
    text-align: center;
    background-color: var(--dark-blue);
    position: static;
    border-radius: 5px;
}
.fondo{
    background-color:var(--white);
    border: 2px solid rgb(168, 168, 168);
    margin: 5px 5px 25px 5px;
}
.formp{
    background-color: var(--gris);
    border: 2px solid  rgb(128, 128, 128);
    border-radius: 20px;
    margin: 30px ;
    padding: 20px;
}
.formp h2{
    color: var(--white);
    font-weight: 300;
    text-align: center;
    background-color: var(--blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    padding:5px;
}
.formp img{
    float: left;
    padding: 5px 50px;
    width: 20px;
}
.inp input{
    border: 2px solid var(--blue);
    height: 25px;
    padding: 5px;
    margin: 20px 10px 0px 15px;
}
.formp select{
    border: 2px solid var(--blue);
    height: 40px;
    padding: 5px;
    margin: 20px 10px 0px 10px;
}
/*1targeta*/
.opciones input{
    width: 595px;
    margin: 10px 15px 20px;
}
.opciones select{
    width: 609px;
    margin:10px 15px 20px;
}
.opciones{
    display: flex;
    
    
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}
/*2targeta*/
.oopciones input{
    width: 385px;
    margin: 10px 15px 20px;
}
.oopciones select{
    width: 395px;
    margin:10px 15px 20px;
}
.oopciones{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}
/*3targeta*/
.preguntas label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.apreguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.apreguntas input{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aagregar{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.aagregar button{
    color: #ffff;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius:10px;
    padding: 8px 25px;
    margin: 0px 0px 50px 0px;
}
.aagregar a{
    color: var(--white);
}
.apreguntas input{
   margin: 10px;
}
