/*pacientes*/
.pacient{
    background-color: var(--black);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pacient img{
    width: 220px;
}

#house{
    width: 25px;
    height: 25px;
    background-color: rgb(230, 230, 230);
    border: 2px solid var(--blue);
    border-radius: 50%;
    padding: 5px;
}

.pa{
    width: 1400px;
    background-color: var(--blue);
    padding: 0px 0px 5px;
    
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  20px 125px 0px;
}
#azul {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--blue);
}
#agregar{
    display: flex;
    align-items: center;
    color: #ffff;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius:10px;
    padding: 8px 12px;
}
#agregar img{
    padding: 0px 0px 0px 8px;
}
#agregar a{
    color: var(--white);
}

.pac{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pac input{
    background-color: var(--white);
    padding: 10px;
    border: 3px solid var(--blue);
    border-radius: 12px;
}
.ppac img{
    width: 25px;
    padding: 3px;
}
.ppac{
    
    background-color: var(--dark-blue);
    border: 3px solid var(--blue);
    border-radius: 10px;
    margin: 20px 8px;
}
.table{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tablee{
    border-collapse:collapse;
    border: 2px solid var(--blue);
}
.table th{
    padding: 10px 40px;
    background-color: var(--dark-blue);
    color:var(--white);
    border: 2px solid var(--blue);

}

.table td{
    padding: 0px 5px;
    background-color: var(--gris);
    border-collapse:collapse;
    border: 2px solid var(--blue);
}
.botom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.edit{
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elim{
    color: var(--white);
    background-color: var(--red);
    border:none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin:0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit img{
    width: 20px;
    padding-left: 8px;
}
.elim img{
    width: 25px;
    padding-left: 8px;
}
.foote{color: var(--white);
    background-color:var(--black) ;
    text-align: center;
    margin: 0px;
    position: static;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
/*form pacientes*/
.reg h1{
    color: var(--white);
    font-weight: 300;
    text-align: center;
    background-color: var(--dark-blue);
    position: static;
    border-radius: 5px;
}
.fondo{
    background-color:var(--white);
    border: 2px solid rgb(168, 168, 168);
    margin: 5px 5px 25px 5px;
}
.formp{
    background-color: var(--gris);
    border: 2px solid  rgb(128, 128, 128);
    border-radius: 20px;
    margin: 30px ;
    padding: 20px;
}
.formp h2{
    color: var(--white);
    font-weight: 300;
    text-align: center;
    background-color: var(--blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    padding:5px;
}
.formp img{
    float: left;
    padding: 5px 50px;
    width: 20px;
}
.inp input{
    border: 2px solid var(--blue);
    height: 25px;
    padding: 5px;
    margin: 20px 10px 0px 15px;
}
.formp select{
    border: 2px solid var(--blue);
    height: 40px;
    padding: 5px;
    margin: 20px 10px 0px 10px;
}
/*1targeta*/
.opciones input{
    width: 595px;
    margin: 10px 15px 20px;
}
.opciones select{
    width: 609px;
    margin:10px 15px 20px;
}
.opciones{
    display: flex;
    
    
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}
/*2targeta*/
.oopciones input{
    width: 385px;
    margin: 10px 15px 20px;
}
.oopciones select{
    width: 395px;
    margin:10px 15px 20px;
}
.oopciones{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}
/*3targeta*/
.preguntas label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.apreguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.apreguntas input{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aagregar{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.aagregar button{
    color: #ffff;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius:10px;
    padding: 8px 25px;
    margin: 0px 0px 50px 0px;
}
.aagregar a{
    color: var(--white);
}
.apreguntas input{
   margin: 10px;
}
