@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/*font-family: 'Poppins', sans-serif;*/
:root{
    --red:#a40101;
    --blue:rgb(44, 163, 171);
    --gris:rgb(196, 196, 196);
    --orange:rgb(243, 97, 14);
    --dark-blue:rgb(29, 27, 69);
    --white:#ffff;
    --black: rgb(5, 5, 5);
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:var(--white) ;
    font-family:'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/*Formulario login*/
#alerta{
    visibility: hidden;
    font-size: 13px;
    background-color: #a8d9dd;
    color: black;
    text-align: center;
    margin: 10px 0 ;
    padding: 5px 15px;
    opacity: 0;
    transition: 1s ease;
}
/*home cel*/
/*primer header cel*/
.logi{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;
    margin: 5px 0 10px;
}
.a-logi{
    display: flex;
    align-items: center;
    padding:0 5px 0 0
}
.a-logi, .b-logi p{
    font-size: 12px;
}
.b-logi{
    padding:0 20px 0 0;
    display: flex;
    text-align: justify;
    align-items: center;
}
.c-logi{
    visibility: hidden;
    display:none ;
}
.icon{
    width: 25px;
    height: 25px;
    margin:0 12px;  
    box-shadow: 2px 2px 8px var(--gris);
    border-radius: 50%;
}

.c-logi a, .d-logi a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--white);
    text-decoration: none;
}
.c-logi:hover, .d-logi:hover{
    background-color:var(--blue);
    color: var(--black);
}
/*2 header cel*/
.alogin{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    max-width: 230px;
    width: 100%;
}

#jeringa{
    width: 45px;
    margin-bottom: 15px;
}

.iicon{
    width: 20px;
    padding: 0px 0px 0px 5px;
}
.linea{
    max-width:1000px;
    width: 100%;
    margin:0;
}
/*Banner cel*/
.banner{
    background-image: url(../img/medico.png);
    background-position-x:right;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.banner h1, .banner h2 {
    text-shadow: 2px 2px 4px var(--black);
    margin-top: 5px;
}
.espacio{
    background-color: rgba(255, 255, 255, 0.431);
    text-align: center;
    padding-top: 70px;
}

.banner h1{
    font-size: 50px; 
}
.banner h2{
    font-size: 40px;
    color: var(--orange);
}
/*animacion index*/
.a-animacion-texto{
    width: 100%;
    animation:typing 2s steps(24); 
    overflow: hidden;
}
    @keyframes typing{
        from {width: 0}
}
.d-logi{
    margin: 0 auto 70px;
    background-color: var(--dark-blue);
    padding: 4px 8px;
    color:var(--white);
    border-radius: 15px;
    border-color: var(--dark-blue);
}
.franja{
    max-width:1400px;   
    margin-top: 40px;
    width:100%;
}
/*Signos y que hacer cel*/
/*fondo*/
.signos{
    background-image:url(../img/covid.jpeg);
    background-repeat: no-repeat;
    background-size:1416px;
}
.blanco{
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*signos*/
.cont-signos{
    margin: 10px 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cont-title{
    display:flex;
    color: var(--dark-blue);
    padding:0px;
    margin: 10px;
}
.cont-title img{
    width: 35px;
    margin-right: 10px;
}
.cont-title h2{
    margin: 0%;
    padding: 0%;
}
/*lista*/
li{
    list-style-image: url(../img/8-chulo.png);
    list-style-position:inside;
    padding:10px;
    padding-left: 50px;
}
/*que-hacer*/
.oms {
    width:120px;
    margin: 10px 0px;
}
.cont-quehacer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.curso a{
    text-decoration: underline;
    color: var(--dark-blue);
}
.curso a:hover{
    color: var(--blue);
}
#dudas{
    padding: 0px;
    background-color: var(--gris);
    
}
.a-dudas{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 8px 10px;
    margin: 0px 0 10px; 
}
/*footer*/
footer{
    color: var(--white);
    background-color:var(--black) ;
    text-align: center;
    padding: 1px 0px 30px;
    margin: 0px 0px 15px;
}
/*login*/
.cont-sesion{
    background-image: url(../img/10.png);
    background-repeat:no-repeat;
    background-size: auto;
}
/*boton*/
.cont-boton{
    display: flex;
    justify-content:right;
    margin:0 50px ;
}
.volver{
    background-color: var(--dark-blue);
    border:2px solid var(--blue);
    color:var(--white);
    border-radius: 5px;
    padding:5px 10px ;
    margin: 30px 0 20px 0;
}
.volver a{
    color:var(--white);
    text-decoration: none;
}
.volver:hover{
    background-color:var(--blue);
    border:2px solid var(--dark-blue);
}
/*contenedor*/
.cont-form-logo{
    margin: 0 50px 80px;
}
.s-logo img{
    max-width: 300px;
    width: 90%;
}
.s-logo{
    box-shadow: 0px 2px 6px var(--black);
    background-color: #a8d9dd;
    border-radius:20px 20px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 50px;
}
.s-logo p{ 
    padding-top:5px;
    font-weight:bold;
    font-size: 16px;
}
.s-b-logo{
    box-shadow: 0px 2px 6px var(--black);
    background-color: var(--white);
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#olvidaste{
    text-decoration: underline;
}

.log{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.log label{
    font-weight:500;
    font-size: 18px;
    padding-top: 15px;
}
.log input{
    margin: 5px;
    padding: 3px;
    max-width:500px;
    width: 70%;
    border: 2px solid #a8d9dd;
    border-radius: 13px;
    background: linear-gradient(to right, #94d2d848, #e0edee5e )
}
.s-b-logo a{
    color: var(--black);
    font-size: 14px;
    padding: 10px;
    font-weight:600 ;
}

.ingresar{
    background-color: var(--orange);
    border:2px solid var(--dark-blue);
    padding: 5px 12px;
    color:var(--white);
    border-radius: 5px;
    margin: 10px 0 30px ;
    animation: 1s zoom 1;
}
@keyframes zoom{
    20%{
        transform: scale(0.5);
        rotate: (-6deg);
    }
    30%, 70%{
        transform: scale(1.0);
        rotate: (6deg);
    }
    50%, 90%{
        transform: scale(1.5);
        rotate: (-6deg);
    }
}
.ingresar a{
    color:var(--white);
    text-decoration: none;
}
.ingresar:hover{
    background-color:var(--dark-blue);
    border:2px solid var(--orange);
}
/*dashboard*/
/*boton*/
.cont-user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0  5px;
}
.user{
    background: linear-gradient(to right, #C0C0C0, #e7e6e6);
    padding:10px;
    border:none ;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
}
.user:hover{
    background: linear-gradient(to right, #e7e6e6, #C0C0C0);
}

.user img{
    background-color: var(--white);
    padding: 3px;
    margin:0px 8px 0px 0px;
    border: 2px solid var(--orange);
    border-radius: 70%;
}
/*logo de barmenu*/
.logo-dashboard img{
    max-width: 250px;
    width: 85%; 
    margin: 10px;
    padding:10px;
    animation: 3s rebote 1;
}
/*animacion de dashboard*/
@keyframes rebote{
    20%, 50%, 80%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-25px);
    }
}
/*intento menu*/
cont-opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .items{
    display: block;
    display: flex;
    flex-direction: column;
}
.btn-menu {
    color:var(--orange);
    font-size:25px;
    width: 80%;
    cursor: pointer;
    margin:0 10px;
}
.btn-menu:hover{
    color:var(--orange);
}
.items{
    width:100vw;
    display:none;
}
/*menu dashboard*/
.cont-menu-opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black);
}
.cont-opciones{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.amenu{
    background-color:var(--gris) ;
    border: 2px solid var(--orange);
    border-radius: 5px;
    width:auto;
    padding: 5px 0;
    margin:4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.amenu img{
    width: 20px;
}
.amenu a{
    font-size: 12px;
    text-decoration: none;
    color: var(--black);
}
/*dashboard busqueda*/
.cont-general-busqueda{
    background-color: rgba(196, 196, 196, 0.308);
    width: 100vw;
}
.cont-busqueda{
    padding:0px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0;
}
.cont-busqueda h1{
    font-size: 28px;
    color: var(--orange);
    font-weight: 400;
    padding-bottom: 5px;
}
#numeroCed{
    width: 200px;
    background-color:  rgb(196, 196, 196, 0.1);
    margin: 10px 0px;
    border:none;
    padding: 5px 10px;
    border-bottom:5px solid var(--dark-blue);
    border-radius: 5px; 
}
.medico{
    display: flex;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.busqu{
    background-color: var(--dark-blue);
    border: 4px solid var(--blue);
    border-radius:5px ;
    margin: 5px;
    cursor:pointer;
}
.busqu img{
    height: 15px;
    margin: 5px 8px;
}
/*imagenes*/
.cont-img{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:flex-end;
}
.dash-linea{
    max-width:1000px;
    width: 100%;
    margin:0;
    position:static;
    bottom: 0%;
    right:0%;
    left: 0%;
}
.world{
    max-width:300px;
    width: 45%;
    margin-right:20px;
    margin-bottom: -20px;
}
/*aviso dashboard*/
.background-aviso{
    background-color:rgba(0, 0, 0, 0.329);
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}
.cont-aviso{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 5%;
    bottom:5%;
    left: 5%;
    right: 5%;
}
.cont-aviso img{
    max-width: 300px;
    width: 100%;
    margin-bottom: 20px;
}
.aaviso p{
    font-size: 35px;
}
.cont-aviso-boton{
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.baviso, .caviso{
    height: 40px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.baviso a, .caviso a {
    color: var(--white);
}
.baviso{
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius:5px ;
    max-width: 110px;
    width: 130%;
}
.baviso:hover{
    background-color:rgb(240, 126, 60);
}
.caviso{
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius:5px;
    max-width: 90px;
    width: 100%;
}
.caviso:hover{
background-color: rgb(31, 50, 95);
}
/*Pacientes*/
/*header*/
.header-pacientes{
    background-color: var(--black);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-pacientes img{
    width: 220px;
}
#house{
    width: 25px;
    height: 25px;
    background-color: rgb(230, 230, 230);
    border: 2px solid var(--blue);
    border-radius: 50%;
    padding: 5px;
}
/*linea division pacientes*/
.paciente-linea{
    max-width:1500px;
    width: 100%;
    background-color: var(--blue);
    padding: 0px 0px 5px;
}
/*botones*/
.contain-boton{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin:5px 30px;
}
.agregar{
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius:10px;
    padding: 8px 12px;
    margin: 20px;
}
.agregar:hover{
    background-color:rgb(240, 126, 60);
}
.agregar img{
    padding: 0px 0px 0px 8px;
}
.agregar a{
    color: var(--white);
}
.form-pacientes{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-pacientes input{
    max-width: 600px;
    width: 90%;
    background-color: var(--white);
    padding: 10px;
    border: 3px solid var(--blue);
    border-radius: 12px;
}
.form-pacientes img{
    width: 25px;
    padding: 3px;
}
.boton-form-pacientes{
    background-color: var(--dark-blue);
    border: 3px solid var(--blue);
    border-radius: 10px;
    margin-left:10px;
}
/*titulo: paciente*/
#azul {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--blue);
    animation: 1s mover-x 1;
}
/*animacion pacientes*/
@keyframes mover-x {
  0% {
  transform: translateX(1024px);
  }
}
/*tabla pacientes*/
.cont-table{
    margin: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    overflow:scroll;
    animation: 1s mover-x 1;
}
.table{
    border-collapse:collapse;
    border: 2px solid var(--blue);
}
.table th{
    padding: 10px 40px;
    background-color: var(--dark-blue);
    color:var(--white);
    border: 2px solid var(--blue);
}
.table td{
    padding: 0px 5px;
    background-color: var(--gris);
    border-collapse:collapse;
    border: 2px solid var(--blue);
}
.botom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}
.edit{
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit:hover{
    background-color: #a8d9dd;
}
.elim{
    color: var(--white);
    background-color: var(--red);
    border:none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin:0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elim:hover{
    background-color: rgb(190, 35, 35);
}
.edit img{
    width: 20px;
    padding-left: 8px;
}
.elim img{
    width: 25px;
    padding-left: 8px;
}
/*footer de pacientes*/
.foote{color: var(--white);
    background-color:var(--black) ;
    text-align: center;
    margin: 0px;
    position: static;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
/*form vacuna*/
.nuevoboton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:20px;
}
.form-vacuna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.textarea-vacuna{
    display: flex;
    justify-content: center;
    margin: auto;
}
.textareavacuna{
    width:400px;
    height: 60px;
    margin:30px auto;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 2px solid var(--blue);
}
/*form pacientes*/
/*titulo principal del form pacientes*/
.title-registrar h1{
    margin:20px;
    padding: 5px;
    color: var(--white);
    font-weight: 300;
    text-align: center;
    background-color: var(--dark-blue);
    position: static;
    border-radius: 5px;
}
/*fecha y N-registro*/
.cont-fechayregistro{
    display: flex;
    justify-content:left;
    align-items:center;
}
.cont-fechayregistro input{
    max-width: 300px;
    width: 50%;
    border: 2px solid var(--blue);
    height: 25px;
    padding: 5px;
    margin: 15px 10px;
}
/*contenedores principales*/
.fondo-gris{
    background-color:var(--white);
    border: 2px solid rgb(168, 168, 168);
    margin: 5px 5px 25px 5px;
}
.formp{
    background-color: var(--gris);
    border: 2px solid  rgb(128, 128, 128);
    border-radius: 20px;
    margin: 20px ;
    padding: 20px;
}
.diseño-form h2{
    color: var(--white);
    font-weight: 300;
    text-align: center;
    background-color: var(--blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    padding:5px;
}
.diseño-form img{
    float: left;
    padding: 5px;
    width: 20px;
}
.diseño-form select{
    border: 2px solid var(--blue);
    height: 40px;
    padding: 5px;
    margin: 20px 10px 0px 10px;
    width:100%;
    border: 2px solid var(--blue);
    height: 40px;
    padding: 5px;
    margin: 15px auto;
}
.diseño-form input{
    width: 97%;
    border: 2px solid var(--blue);
    height: 25px;
    padding: 5px;
    margin: 15px auto;
}
/*3targeta*/
.preguntas label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.apreguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.apreguntas input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aagregar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aagregar button, .form-vacuna button{
    color: #ffff;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius:10px;
    padding: 8px 25px;
}
.aagregar button{
    margin: 0px 0px 50px 0px;
}
.btn-2{
    margin:2px 5px;
}
.aagregar a, .form-vacuna a{
    color: var(--white);
}
.aagregar button:hover, .form-vacuna button:hover{
    background-color:rgb(240, 126, 60);
    animation: 1s intento 1;
}
@keyframes intento {
    0%{
        transform: rotateZ(5deg);
    }
    50%{
        transform: rotateZ(-5deg);
    }
    100%{
        transform: rotateZ(5deg);
    }
}
.apreguntas input{
   margin: 10px;
}
@media screen and (min-width:768px){
    /*form vacuna*/
    .nuevoboton{
    flex-direction: row;
}
.textareavacuna{
    width:600px;
}
.form-vacuna{
    flex-direction: row;
}
.btn-2{
    margin: 0 30px;
}
    /*home-index*/
    .a-logi, .b-logi p{
        font-size: 15px;
        margin: 10px;
    }
    .c-logi{
        visibility:visible;
        display:flex;
        background-color: var(--dark-blue);
        padding: 4px 8px;
        color:var(--white);
        border-radius: 15px;
        border-color: var(--dark-blue);
    }
    /*fondo*/
    .blanco{
        flex-direction: row;
        justify-content:space-evenly;
        align-items: flex-start;
    }
    /*login*/
    .cont-form-logo{
        margin: 0 180px 80px;
    }
    .cont-boton{
        margin:0 180px ;
    }
    .s-logo img{
        width: 300px;
    }
    .s-logo p{
    font-size:20px;
    }
    .log input{
        width: 100%;
    }
    /*menu dashboard*/
    .items{
        width:100vw;
        display:none;
    }
    .medico input{
        width: 310px;
        margin-right: 10px;
    }
    .medico{
        flex-direction:row;
    }
    .cont-user{
        justify-content:flex-end;
    }
    .world{width: 240px; margin-bottom: -20px;}
    /*aviso*/
    .cont-aviso{
        top: 30%;
        bottom:30%;
        left: 30%;
        right: 30%;
    }
    /*pacientes*/
    .contain-boton{
        flex-direction: row;
    }
    .agregar{
        margin-right: 20px;
    }
    /*formulario*/
    .diseño-form select{
        width:100%;}
.diseño-form input{
    width: 98%;
}
/*animaciones*/
.a-animacion-texto{
    white-space: nowrap;
    height: 70px;
    width: 80%;
    padding-left:100px ;
    animation:parpadeo .2s infinite step-end a;
}
@keyframes parpadeo{
    50% {border-color: transparent}
}
}
@media screen and (min-width:1024px){
    .a-logi, .b-logi{
        margin:0 20px;
    }
    .c-logi{
        margin:0 30px 0 50px;
    }
    
    /*2 header cel*/
    .cont-header2{
        display: flex;
        justify-content: space-between;
    }
    .alogin{
        justify-content:left;
        padding-left: 30px;
    }
    .linea{
        width: 65%;
        margin: 12px 30px;
    }
    /*Banner cel*/
    
    .banner h1, h2{
        padding-right: 300px;
    }
    .banner h2{
        padding-top: 0px;
    }
    .d-logi{
        margin:0 300px 100px 0;
    }
    .franja{
        max-width:1400px;   
        margin-top: 40px;
        width:100%;
    }
    /*Signos y que hacer cel*/
    /*signos*/
    .cont-signos{
        margin: 10px;
    }
    .cont-title{
        display:flex;
        justify-content: justify;
        align-items: center;
        color: var(--dark-blue);
        padding:0px;
    }
    .cont-title img{
        width: 35px;
        padding:  10px;
    }
    .cont-title h2{
        margin: 0%;
    }
    /*lista*/
    li{
        list-style-image: url(../img/8-chulo.png);
        list-style-position:inside;
        padding:10px;
        padding-left: 50px;
    }
    /*que-hacer*/
    .oms{
        width:120px;
        margin: 5px 0px;
    }
    .cont-quehacer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 26px;
    }
    /*login*/
    .cont-form-logo{
        margin: 0 280px 80px;
    }
    .cont-boton{
        margin:0 280px ;
    }
    .s-logo img{
        width: 360px;
    }
    /*dashboard*/
/*menu dashboard*/
.cont-menu{
    display: flex;
    flex-basis:100%;
}
.cont-menu-opciones{
    align-items:center;
    justify-content:center;
}
.logo-dashboard img{
    width: 300px;
    margin: 0 0 10px 0;
}
.cont-opciones{
    flex-direction: column;
    margin-bottom: 90px;
}
.items{
    width:310px;
    margin:10px 0%;
}
.btn-menu{
    display: none;
}
.items{
    display: block;
    display: flex;
    flex-direction: column;
}
.cont-busqueda{
    margin-bottom:0px;
    padding: 110px 0 0px 0;
}
.amenu a{
    font-size: 18px;
}
.amenu i{
    padding: 2px;
    font-size: 15px;
}
/*dashboard busqueda*/
/*imagenes*/
.dash-linea{
    max-width:1500px;
}
.world{
    width: 60%;
    margin-bottom: -50px;
}
.cont-busqueda{
    margin: 20px 0 0 0;
}
.amenu{
    margin: 10px 5px;
}
.logo-dashboard{
    margin-bottom: 40px;
}
.medico{
    padding-bottom: 40px;
}
/*aviso*/
.cont-aviso{
    left: 25%;
    right: 25%;
}
.cont-aviso p{
    font-size: 25px;
    padding: 10px;
}
.baviso a{
font-size: 20px;
}
.caviso a{
    font-size: 20px;
}
.baviso{
    max-width: 510px;
    width: 130%;
}
.caviso{
    max-width: 170px;
    width: 100%;
}

/*form pacientes*/
.diseño-form input{
    display: flex;
    justify-content: space-around;
    margin-left:10px;
    padding: 5px;
    margin: 15px auto;
}
/*1targeta*/
.opciones input{
    max-width: 595px;
    width: 40%;
}
.opciones select{
    max-width: 609px;
    width: 41.6%;
}
.opciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}
/*1.5 tarjeta*/
.departamento{
    margin: 0;
    padding: 0px;
    max-width: 80px;
    width: 50%;
}
.municipioderesidencia{
    margin: 0;
    padding: 0px;
    max-width: 50px;
    width: 100%;
}
.a-opciones input{
    max-width: 595px;
    width: 50%;
}
.form-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
}

/*2targeta*/
.oopciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}
.oopciones input{
    max-width: 580px;
    width: 20%;
    margin:0;
}
.oopciones select{
    max-width: 285px;
    width: 100%;
    margin:0;
}
.oopciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}
/*3targeta*/
.preguntas label{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}
.cont-fechayregistro{
    margin: 0 0 0 28px;
}
/*3animaciones*/
.a-animacion-texto{
    width: 70%;
    padding-left:90px ;
}
}

@media screen and (min-width:1200px) {
    .logi{
        margin-left: 210px;
    }
    .a-logi, .b-logi{
        margin:0 20px;
    }
    .c-logi{
        margin:0 30px 0 50px;
    }
    
    /*2 header cel*/
    .cont-header2{
        display: flex;
        justify-content: space-between;
    }
    .alogin{

        justify-content:left;
        padding-left: 30px;
    }
    
    .linea{
        max-width:1000px;
        width: 65%;
        margin-right: 30px;
    }
    /*login*/
    .cont-form-logo{
        margin: 0 380px 80px;
    }
    .cont-boton{
        margin:0 380px ;
    }
    /*pacientes*/
    .contain-boton{
        margin:5px 130px;
    }
    .cont-table{
        justify-content: center;}
    .opciones select{
            width: 41.1%;}
    .cont-fechayregistro{
        margin: 0 0 0 45px;}
        /*4animaciones*/
    .a-animacion-texto{
        padding-left:220px ;
    }
    .cont-table{
        overflow:hidden;
    }
    .oopciones select{
        max-width: 400px;
        width: 100%;
        margin:0;
    }
}