@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/*font-family: 'Poppins', sans-serif;*/

:root{
    --red:#a40101;
    --blue:rgb(44, 163, 171);
    --gris:rgb(196, 196, 196);
    --orange:rgb(243, 97, 14);
    --dark-blue:rgb(29, 27, 69);
    --white:#ffff;
    --black: rgb(5, 5, 5);
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:var(--white) ;
    font-family:'Poppins', sans-serif;
}

/*home cel*/
/*primer header cel*/
.logi{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;
    margin: 5px 0 10px;
}
.a-logi{
    display: flex;
    align-items: center;
    padding:0 5px 0 0;

}
.b-logi{
    padding:0 5px;
    display: flex;
    text-align: justify;
    align-items: center;
}
.c-logi{
    visibility: hidden;
    display:none ;
}
.icon{
    width: 25px;
    height: 25px;
    margin:0 12px;  
    box-shadow: 2px 2px 8px var(--gris);
    border-radius: 50%;
}

.c-logi a, .d-logi a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--white);
    text-decoration: none;
}
.c-logi:hover, .d-logi:hover{
    background-color:var(--blue);
    color: var(--black);
}
/*2 header cel*/
.alogin{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    max-width: 230px;
    width: 100%;
}

#jeringa{
    width: 45px;
    margin-bottom: 15px;
}

.iicon{
    width: 20px;
    padding: 0px 0px 0px 5px;
}
.linea{
    max-width:1000px;
    width: 100%;
}
/*Banner cel*/
.banner{
    background-image: url(../img/medico.png);
    background-position-x:right;
    background-size:cover;
    background-repeat: no-repeat;
}
.banner h1, h2 {
    text-shadow: 2px 2px 4px var(--black);
    margin-top: 5px;
}
.espacio{
    background-color: rgba(255, 255, 255, 0.431);
    text-align: center;
}
.banner h1{
    font-size: 50px; 
}
.banner h2{
    font-size: 40px;
    padding-top: 70px;
    color: var(--orange);
}
.d-logi{
    margin: 0 auto 70px;
    background-color: var(--dark-blue);
    padding: 4px 8px;
    color:var(--white);
    border-radius: 15px;
    border-color: var(--dark-blue);
}
.franja{
    max-width:1400px;   
    margin-top: 40px;
    width:100%;
}
/*Signos y que hacer cel*/
/*fondo*/
.signos{
    background-image:url(../img/covid.jpeg);
    background-repeat: no-repeat;
    background-size:1416px;
}
.blanco{
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*signos*/
.cont-signos{
    margin: 10px 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cont-title{
    display:flex;
    color: var(--dark-blue);
    padding:0px;
    margin: 10px;
}
.cont-title img{
    width: 35px;
    margin-right: 10px;
}
.cont-title h2{
    margin: 0%;
    padding: 0%;
}
/*lista*/
li{
    list-style-image: url(../img/8-chulo.png);
    list-style-position:inside;
    padding:10px;
    padding-left: 50px;
}
/*que-hacer*/
.oms {
    width:120px;
    margin: 10px 0px;
}
.cont-quehacer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.curso a{
    text-decoration: underline;
    color: var(--dark-blue);
}
.curso a:hover{
    color: var(--blue);
}
#dudas{
    padding: 0px;
    background-color: var(--gris);
    
}
.a-dudas{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 8px 10px;
    margin: 0px 0 10px; 
}
/*footer*/
footer{
    color: var(--white);
    background-color:var(--black) ;
    text-align: center;
    padding: 1px 0px 30px;
    margin: 0px 0px 15px;
}
@media screen and (min-width:768px) {
    body{
        border:5px solid rgb(253, 255, 134);
    }
    /*home-index*/
    .c-logi{
        visibility:visible;
        display:flex;
        background-color: var(--dark-blue);
        padding: 4px 8px;
        color:var(--white);
        border-radius: 15px;
        border-color: var(--dark-blue);
    }
    /*fondo*/
    .blanco{
        flex-direction: row;
        justify-content:space-evenly;
        align-items: flex-start;
    }
}
@media screen and (min-width:1024px) {
    body{
        border:5px solid rgb(162, 255, 134);
    }
    /*1024*/
    .a-logi, .b-logi{
        margin:0 20px;
    }
    .c-logi{
        margin:0 30px 0 50px;
    }
    
    /*2 header cel*/
    .cont-header2{
        display: flex;
        justify-content: space-between;
    }
    .alogin{
        justify-content:left;
        padding-left: 30px;
    }
    .linea{
        width: 65%;
        margin: 12px 30px;
    }
    /*Banner cel*/
    
    .banner h1, h2{
        padding-right: 300px;
    }
    .banner h2{
        padding-top: 100px;
    }
    .d-logi{
        margin:0 300px 100px 0;
    }
    .franja{
        max-width:1400px;   
        margin-top: 40px;
        width:100%;
    }
    /*Signos y que hacer cel*/
    /*signos*/
    .cont-signos{
        margin: 10px;
    }
    .cont-title{
        display:flex;
        justify-content: justify;
        align-items: center;
        color: var(--dark-blue);
        padding:0px;
    }
    .cont-title img{
        width: 35px;
        padding:  10px;
    }
    .cont-title h2{
        margin: 0%;
    }
    /*lista*/
    li{
        list-style-image: url(../img/8-chulo.png);
        list-style-position:inside;
        padding:10px;
        padding-left: 50px;
    }
    /*que-hacer*/
    .oms{
        width:120px;
        margin: 5px 0px;
    }
    .cont-quehacer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 26px;
    }
}

@media screen and (min-width:1200px) {
    body{
        border:5px solid rgb(255, 134, 134);
    }
    .logi{
        margin-left: 210px;
    }
    .a-logi, .b-logi{
        margin:0 20px;
    }
    .c-logi{
        margin:0 30px 0 50px;
    }
    
    /*2 header cel*/
    .cont-header2{
        display: flex;
        justify-content: space-between;
    }
    .alogin{

        justify-content:left;
        padding-left: 30px;
    }
    
    .linea{
        max-width:1000px;
        width: 65%;
        margin-right: 30px;
    }
    }